jupyterlab-qiskit/
test_development/*/
job_slurm/
qml_hw2/
results/
results_without_constraint/
results_constrained_bo/
results_without_constraint_2/
results_constrained_bo_2/
analyze_scripts/
qmg/trainer_old.py
qmg/models_old/
qmg/train_old/
docs_old/
docs/ibmq_tokens.txt
docker_commands/
results_*
dataset/*.csv
test_development/
*.pyc