jupyterlab-qiskit/
test_development/*/
job_slurm/
qml_hw2/
results/
analyze_scripts/
qmg/trainer_old.py
qmg/models_old/
qmg/train_old/
docs_old/
docs/ibmq_tokens.txt
docker_commands/
dataset/*.csv
test_development/
*.pyc